.calcBtns {
  height: 90px;
  width: 90px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #f96d00;
  user-select: none;
  box-shadow: 3px 3px 10px #bebebe, -3px -3px 10px #ffffff;
}

.res {
  width: 180px;
  background-color: #393e46;
  color: #f2f2f2;
}
